<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenbro.deliverybarcode.mapper.MandFieldCiteMapper">
    <resultMap id="BaseResultMap" type="com.chenbro.deliverybarcode.model.MandFieldCite">
        <id column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="man_no" property="manNo" jdbcType="VARCHAR"/>
        <result column="cus_no" property="cusNo" jdbcType="VARCHAR"/>
        <result column="del_matno" property="delMatno" jdbcType="VARCHAR"/>
        <result column="bound_type" property="boundType" jdbcType="VARCHAR"/>
        <result column="op_user" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createDate" jdbcType="VARCHAR"/>
        <result column="update_user" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateDate" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    </resultMap>





    <sql id="Base_Column_List">
    uuid, man_no, cus_no, del_matno, bound_type,op_user, create_time,update_user, update_time,del_flag
    </sql>


    <select id="findByUUid" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_mand_reldel
        where uuid = #{uuid,jdbcType=VARCHAR}
    </select>




    <select id="findAll" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from t_mand_reldel
        where del_flag is null
        <if test="delMatno != null and delMatno != ''">
            and del_matno = #{delMatno,jdbcType=VARCHAR}
        </if>
        order by create_time
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_mand_reldel
    where uuid = #{uuid,jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.chenbro.deliverybarcode.model.MandFieldCite">
        update t_mand_reldel
        <set>
            <if test="manNo != null">
                man_no = #{manNo,jdbcType=VARCHAR},
            </if>
            <if test="cusNo != null">
                cus_no = #{cusNo,jdbcType=VARCHAR},
            </if>
            <if test="delMatno != null">
                del_matno = #{delMatno,jdbcType=VARCHAR},
            </if>
            <if test="boundType != null">
                bound_type = #{boundType,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_user = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_time = #{updateDate,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where uuid = #{uuid,jdbcType=VARCHAR}
    </update>


</mapper>